* {
  color: #001f3f;
  font-size: 26px;
  font-family: sans-serif;
}
body {
  counter-reset: section;
}
section:before {
	counter-increment: section;
	content: 'Section ' counter(section) ": " ;
	display: block;
	font-size: 10px;
}
section { 
	margin:2%;
	border: 1px dotted purple;
}
