/* styles.css */

/* The Grid */
button {
	margin-left:20px;
}
hr:first-of-type {
	margin-top:30px;
}
.gridHalf{
	width: 46%;
	margin-right: 2.4%;
	display: inline-block; 
	vertical-align: top;
	overflow: hidden
}
.row {
	width:100%;
	clear: both;
}
.row a {
	display:block;
}

/* Other stuff */
p#put-here {
	background: lavender;
	box-shadow: 0 0 5px #ccc;
}
iframe {
	width: 500px;
	height: 300px;
}
small {
	font-size: .5em;
	color: #aaa;
	font-style: oblique;
	display:block;
}

textarea{ 
	width:90%;
}
