/* styles.css */

/* The Grid */
.gridHalf{
	width: 46%;
	margin-right: 2.4%;
	display: inline-block; 
	vertical-align: top;
	overflow: hidden
}
.row {
	width:100%;
	clear: both;
}
.row a:not(.button) {
	display:block;
}

/* line numbers for code display */
.lineNumber {
	counter-increment: code_line;
	margin-right:1.5em;
}
.lineNumber:before {
	content: counter(code_line);	
	margin-right:1.5em;
}
.lineNumber:hover {
	background: #000;
	color: #fff;
}
#modal ::-moz-selection { 
	color: #1B1F92;
	background-color: #eee;
}
#modal ::selection { 
	color: #1B1F92;
	background-color: #eee; 
}

/* Other stuff */
body {
	font-family: sans-serif;
	padding-bottom: 40px;
}
button {
	margin-left:20px;
}
.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  position: relative;
  left: 68%;
}
hr:first-of-type {
	margin-top:30px;
}
.intro a{
  
  position: absolute;
  top: 0;
  right: 0;
  
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  box-shadow: 2px 2px 6px #444;
  box-shadow: 2px 2px 6px #444;
}
.intro a:hover{
	color:white;
	background-color:#777;
	box-shadow: 3px 3px 14px #222;
}
p#put-here {
	background: lavender;
	box-shadow: 0 0 5px #ccc;
}
.maxmin {
	color:red;
	content: "\21f5";
	cursor: pointer;
	display: block;
	font-size: 20px;
	margin: 10px;
	position: absolute;
	right: 0;
}
.maxFrame {
	position: absolute;
	height:85vh;
	width:95vw;
	top: 2.5vh;
	left: 2.5vh;
}
.maxmin-Maxed {
  bottom: 0;
	right: 25px;
	position: absolute;
	left: auto;
}
small {
	font-size: .5em;
	color: #aaa;
	font-style: oblique;
	display:block;
}

textarea{ 
	width:90%;
}
